@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800;900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Otomanopee+One&display=swap");

//-----COLORS-----//
$dark-yellow: #75cedb; // Pastel Teal (Primary)
$medium-yellow: #5aa9a2; // Muted Seafoam Green (Secondary)
$background-medium-yellow: #ffe6a7; // Light Mustard Yellow (Accent)
$light-yellow: #fdf3c9; // Soft Light Yellow
$white: #f8f9fa; // Neutral (Off-White)
$light-grey: #f5f5f5; // Light Grey (Background/Neutral)
$dark-grey: #5d5d5d; // Warm Gray (Text/Details)

// $dark-yellow: #9ed8db; // Soft Aqua (Primary)
// $medium-yellow: #c8e8d4; // Light Seafoam Green (Secondary)
// $background-medium-yellow: #ffe6cc; // Peachy Cream (Accent)
// $light-yellow: #fefaf0; // Soft Sand
// $white: #ffffff; // Neutral (White)
// $light-grey: #f6f6f6; // Light Cool Gray (Background/Neutral)
// $dark-grey: #4a6363; // Deep Teal (Text/Details)

// $dark-yellow: #f7cac9; // Light Coral Pink (Primary)
// $medium-yellow: #ffdfd3; // Blush Peach (Secondary)
// $background-medium-yellow: #c4e7e1; // Pale Mint (Accent)
// $light-yellow: #fef8e6; // Buttercream
// $white: #ffffff; // Neutral (White)
// $light-grey: #fafafa; // Light Gray (Background/Neutral)
// $dark-grey: #6e6e6e; // Muted Charcoal (Text/Details)

// $dark-yellow: #f9c6c9; // Soft Rosy Pink (Primary)
// $medium-yellow: #fddbb0; // Pastel Peach (Secondary)
// $background-medium-yellow: #fee9c0; // Creamy Orange (Accent)
// $light-yellow: #fdfcf4; // Soft Cream
// $white: #ffffff; // Neutral (White)
// $light-grey: #f6f2ef; // Very Pale Beige (Background/Neutral)
// $dark-grey: #706f6a; // Warm Taupe (Text/Details)


// $dark-yellow: #42b2be;
// $medium-yellow: #478a69;
// $background-medium-yellow: #ffeb94;
// $light-yellow: #fdf3c9;
// $white: white;
// $light-grey: #f5f5f5;
// $dark-grey: #393522;


//-----FONTS-----//
$primary-font: "Raleway", sans-serif;
$titles-font: "Catamaran", sans-serif;
$text: 0.94rem;
$text-uppercase: uppercase;

//-----MIXINS-----//
@mixin buttons-homepage {
  font-size: 0.8rem;
  color: $dark-grey;
  border: 2.24px solid $light-yellow;
  padding: 11.2px 16px;
  text-transform: uppercase;
  transition-duration: 0.4s;
  // box-shadow: 5px 1px 19px 0px #4949020f;
}

@mixin titles {
  font-size: 1.7rem;
  font-family: $titles-font;
  color: $dark-yellow;
  // text-transform: uppercase;
}

@mixin layout {
  width: 66vw;
  padding-left: 17vw;
  padding-right: 17vw;
}

html {
  scroll-behavior: smooth;

  //------LAYOUT----//
  body {
    font-family: $primary-font;
    color: $dark-grey;
    background-color: $dark-yellow;
    box-sizing: border-box;

    //-----HEADER-----//
    .main-header {
      background-color: $dark-yellow;

      .nav-bar {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 0.75rem;
        border-radius: 2px;
        box-shadow: 0 2px 4px -2px #317880;

        .menu-mobile-hamburguer,
        .menu-mobile-x,
        .navbar-contacts {
          display: none;
        }

        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $dark-yellow;
          color: $dark-grey;
          font-size: 1.5rem;

          li {
            list-style-type: none;
            padding: 16px;
            font-size: 0.85rem;
            text-transform: $text-uppercase;

            a {
              text-decoration: none;
              color: $white;
            }
          }
        }

        .navbar-logo {
          font-family: "Fjalla One", sans-serif;
          flex: 1.2;
          font-size: 1rem;
          user-select: none;
          font-weight: 500;
        }

          .navbar-logo a:hover {
            color: $light-yellow;
          }

        .navbar-list {
          position: relative;
          display: block;
          font-family: $primary-font;
          letter-spacing: 0.8px;
          font-weight: 500;
          text-transform: $text-uppercase;

          .navbar-item-a:before {
            content: "";
            width: 100%;
            height: 2px;
            right: 350px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: #fff;
            transition: 0.5s transform ease;
            transform: scale3d(0, 1, 1);
            transform-origin: 0 50%;
          }

          .navbar-item-a:hover::before {
            transform: scale3d(1, 1, 1);
            background: $white;
            transform-origin: 100% 50%;
            transform-origin: 0 50%;
            transform: scale3d(1, 1, 1);
          }
        }
      }
      .menu-mobile {
        display: none;
      }
    }

    //-----MAIN CONTENT-----//
    main {
      overflow: hidden;

      //----- HOME -----//
      #home {
        // max-height: 100vh;
        @include layout();
        margin-top: 4.5px;
        color: $dark-grey;
        font-size: 1.5rem;
        background-color: $dark-yellow;
        text-align: center;

        .home-h1 {
          padding-bottom: 36px;
          padding-top: 160px;

          h1 {
            color: white;
            display: block;
          }
        }

        .home-h2 {
          padding-bottom: 15px;

          h2 {
            font-family: $titles-font;
            letter-spacing: 0.1em;
            font-size: 3.5rem;
            font-weight: 900;
            color: white;
          }
        }

        .home-h3 {
          padding-bottom: 22.4px;

          h3 {
            font-family: $titles-font;
            letter-spacing: 0.1em;
            font-size: 3.3rem;
            font-weight: 900;
            color: $light-yellow;
          }
        }

        .home-h4 {
          padding-bottom: 19.2px;

          h4 {
            letter-spacing: 0.05em;
            font-size: 1.5rem;
            font-weight: 200;
            color: $dark-grey;
          }
        }

        .home-p {
          padding-bottom: 26px;
          vertical-align: middle;
          display: flex;
          justify-content: center;

          p {
            font-size: 1rem;
            max-width: 720px;
            line-height: 1.9rem;
            color: white;
          }
        }

        .home-icons {
          padding-bottom: 80px;

          ul {
            display: flex;
            justify-content: center;

            a {
              padding-right: 16px;
              color: $white;
              transition-duration: 0.1s;
              font-size: 18px;
            }

            a:hover {
              color: $background-medium-yellow;
            }
          }
        }

        .home-btn {
          button {
            @include buttons-homepage();
            background-color: $dark-yellow;
            color: $light-yellow;
          }

          button:hover {
            color: $dark-grey;
            background-color: $light-yellow;
          }
        }
      }

      //----- ABOUT ME-----//
      #about-me {
        @include layout();
        display: flex;
        background-color: $background-medium-yellow;
        clip-path: polygon(0 1%, 100% 19%, 100% 100%, 0 100%);
        padding-top: 185px;
        flex-direction: column;

        .about-info {
          gap: 74px;
          display: flex;
          align-items: center;

          h2 {
            @include titles();
            padding-bottom: 45px;
            // text-align: center;
          }

          .about-info-container {
            i {
              padding-bottom: 50px;
              text-align: center;
              transform: rotate(126deg);
              color: black;
            }
          }

          .about-p {
            font-size: 1rem;
            padding-bottom: 20.8px;
            line-height: 1.9rem;

            span {
              text-decoration-line: underline;
              text-decoration-color: $dark-yellow;
              text-decoration-style: double;
            }
          }

          #about-last-p {
            padding-bottom: 64px;
            font-size: 1rem;
            line-height: 1.9rem;
            max-width: 640px;
          }
        }

      img {
        max-width: 352px;
        max-height: 352px;
        opacity: 94%;
        // padding-top: 60px;
      }
                  
        #home-resume {
          @include buttons-homepage();
          border-color: $dark-yellow;
          background-color: $background-medium-yellow;
          color: $dark-yellow;
          text-decoration: none;
          margin-top: 40px;
          // width: 10%;
          text-align: center;
          align-self: center;
          margin-bottom: 50px;
        }

        #home-resume:hover {
          color: $white;
          background-color: $dark-yellow;
        }
      }

      //----- PROJECTS -----//
      #projects {
        @include layout();
        padding-bottom: 120px;
        background-color: $white;
        clip-path: polygon(50% 100%, 100% 98%, 100% 0, 0 0, 0 98%);
        display: flex;
        flex-direction: column;

        h2 {
          @include titles();
          padding-top: 80px;
          color: $dark-yellow;
          padding-bottom: 35px;
        }

        .grid-a {
          order: -1;
        }

        .grid-b {
          order: 1;
        }

        .project-a {
          .project-picture {
            img {
              border-radius: 7px 0px 0px 7px;
              box-shadow: 2px 9px 13px 2px #4949021f;
            }
          }
          .project-info {
            border-radius: 0px 7px 7px 0px;
            box-shadow:  5px 8px 13px 2px #4949021f;
          }
        }

        .project-b {
          .project-picture {
            img {
              border-radius: 0px 7px 7px 0px;
              box-shadow:  5px 8px 13px 2px #4949021f;
            }
          }
          .project-info {
            border-radius: 7px 0px 0px 7px;
            box-shadow: 2px 9px 13px 2px #4949021f;
          }
        }

        .project {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          padding-bottom: 40px;
          padding-top: 40px;
          // flex-wrap: wrap;
          .project-picture {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .project-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 14px;
            padding-right: 14px;
            background-color: $light-grey;
            padding-top: 11px;

            h4 {
              @include titles();
              font-size: 1.5rem;
              color: $dark-grey;
            }

            p {
              line-height: 1.9rem;
              font-size: 0.9rem;

              span {
                text-decoration-line: underline;
                text-decoration-color: $dark-yellow;
                text-decoration-style: double;
              }
            }

            .project-tags {
              span {
                margin-right: 16px;
                font-size: 0.9rem;
                font-weight: 600;
              }

              button:hover {
                background-color: $medium-yellow;
                border-color: $medium-yellow;
              }

              a {
                text-decoration: none;
                padding-left: 16px;

                i {
                  font-size: 1.2rem;
                  padding-bottom: 16px;
                  align-self: center;
                  color: $dark-grey;
                  transition-duration: 0.1s;
                }

                i:hover {
                  color: $background-medium-yellow;
                }
              }
            }
          }
        }
      }

      //----- Skills -----//
      #skills{
      padding-top: 60px;
      @include layout();
        .info-skills {
          margin-bottom: 20px;
          h2 {
            @include titles();
            padding-bottom: 20px;
            // text-align: center;
          }
          .skills-cards {
            margin-top: 30px;
            margin-bottom: 15px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            text-align: center;
            align-items: center;
            justify-items: stretch;
            grid-gap: 13px;
            align-content: center;
            text-align: center;

            .card {
              background-color: white;
              border-radius: 7px;
              height: 196px;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-content: center;
              justify-content: center;
              align-items: center;
              box-shadow: 2px 9px 13px 2px #4949021f;

              img {
                width: 85px;
                padding-bottom: 20px;
              }

              h4 {
                color: $dark-grey;
                font-weight: 800;
              }
            }
          }
        }
        .about-info-skills {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 35px;
          padding-top: 50px;

          .about-p {
            font-size: 1.2rem;
            line-height: 1.9rem;
            // text-transform: uppercase;
            transition: color 300ms;
            font-weight: 600;
          }

          .skills-items {
            display: grid;
            padding-bottom: 42px;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 21px;
            width: 100%;
          }

          .skills-table {
            display: flex;
            flex-direction: column;

            i {
              font-size: 2.5rem;
              padding-bottom: 7px;
              align-self: center;
              transition-duration: 0.1s;
            }

            i:hover {
              color: $light-yellow;
            }

            p {
              font-size: 0.8rem;
              align-self: center;
            }
          }
        }
      }
      
      //----- CONTACTS-----//
      #contacts {
        position: fixed;
        top: 16px;
        display: flex;
        flex-direction: column;
        background-color: $white;
        width: calc(100% - 32px);
        height: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
        background: -webkit-linear-gradient(
          283deg,
          $white 65%,
          $light-grey 35%
        );
        z-index: 10;
        overflow-x: hidden;
        scrollbar-width: thin;

        .contact-close {
          // flex-grow: 0.3;
          font-size: 2rem;
          cursor: pointer;
          align-self: flex-end;
          padding: 16px;
        }

        p {
          @include titles();
          color: $dark-grey;
          align-self: center;
          text-align: center;
          font-size: 2.3rem;
          max-width: 85vw;
        }

        #sent-message {
          font-size: 1.5rem;
          align-self: center;
          color: #2ecc71;
          padding-top: 5px;
        }

        .contact-form {
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          #form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5px;
            margin-top: 5px;

            #name-div,
            #email-div,
            #massage-div {
              display: flex;
              flex-direction: column;
              min-width: 60vw;

              label {
                font-size: 1.2rem;
                padding-bottom: 8px;
                padding-top: 11.2px;
              }

              input,
              textarea {
                padding: 8px;
                background-color: transparent;
                display: block;
                border: 1px solid $dark-grey;
              }

              textarea {
                min-height: 150px;
              }

              input:focus,
              textarea:focus {
                border: 1px solid $dark-yellow;
              }

              small {
                display: block;
                visibility: hidden;
                margin-top: 8px;
              }
            }
          }
          button {
            @include buttons-homepage();
            background-color: transparent;
            border-color: $dark-grey;
            align-self: center;
            max-width: 480px;
          }

          button:hover {
            background-color: $dark-yellow;
            color: $white;
            border-color: $dark-yellow;
          }
        }

        .contact-icons {
          flex-grow: 0.5;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 20px;

          h2 {
            font-size: 1.2rem;
            padding-bottom: 16px;
          }

          ul {
            display: flex;

            .icons-contacts {
              a {
                color: $dark-grey;
                cursor: pointer;
                padding: 12.8px;
                transition-duration: 0.1s;

                i {
                  font-size: 1.5rem;
                }
              }

              a:hover {
                color: $dark-yellow;
              }
            }
          }
        }
      }
    }

    //----- FOOTER -----//
    footer {
      background-color: $white;
      clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 8px;
      padding-top: 48px;

      .contacts-footer {
        ul {
          display: flex;
        }

        a {
          padding: 16px;
          font-size: 1.3rem;
          color: $dark-grey;
          transition-duration: 0.3s;
        }

        a:hover {
          color: $background-medium-yellow;
        }
      }

      .footer-name {
        padding-top: 16px;
        padding-bottom: 16px;

        span {
          letter-spacing: 0.1rem;
        }
      }
    }

    .to-top-button {
      position: fixed;
      font-size: 3rem;
      color: $light-yellow;
      bottom: 40px;
      right: 60px;
      width: 50px;
    }

    //-----MEDIA QUERIES------//
    @media screen and (max-width: 396px) {
      main {
        #home {
          .home-h1 {
            padding-top: 100px !important;
          }
          .home-h2 {
            h2 {
              font-size: 2.7rem !important;
            }
          }
          .home-h3 {
            h3 {
              font-size: 2.2rem !important;
            }
          }

          #connect-button {
            padding-bottom: 40px;
          }
        }
     
      #about-me {
        width: 100vw;
        padding-left: 0px;
        padding-right: 0px;

        .about-info{
          width: 75vw !important;
          text-align: center;
          padding-left: 10vw;

          #about-last-p {
            padding-bottom: 15px;
          }
        }
      }

      #projects {
        .project {
          .project-info {
            padding-right: 15px;
          }
          button {
            margin-top: 16px;
          }
        }
      }

      #other-projects {
        .projects-skills {
          padding-bottom: 0px;
        }
      }
    }
    }

    @media screen and (max-width: 510px) {
      main {
        #home {
          .home-h1 {
            padding-top: 100px !important;
          }
          .home-h2 {
            h2 {
              font-size: 3rem !important;
            }
          }
          .home-h3 {
            h3 {
              font-size: 2.5rem !important;
            }
          }
        }

        .about-info {
            width: 100%;
        }
      
        #projects {
          clip-path: polygon(50% 100%, 100% 99%, 100% 0, 0 0, 0 99%) !important;
        }
      }
    }

    @media screen and (max-width: 540px) {
      main {
        #span-1 {
          font-size: 2.7rem;
        }

        #about-me {              
          .about-info {
            width: 100%;
          }
          img {
            width: 300px;
          }
        }

        #contacts {
          #sent-message {
            font-size: 1rem;
          }
        }
      }
    }

    @media screen and (max-width: 600px) {
      main {
        #skills {
          .about-info-skills {
            .skills-items {
              padding-bottom: 42px;
              grid-template-columns: repeat(3, 1fr) !important;
              grid-gap: 15px;

              .skills-table {
                padding-bottom: 16px;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 750px) {
      main {
        #home {
          height: 100%;
          max-width: 80%;

          .home-icons {
            padding-bottom: 0;
            margin-bottom: 0;

            ul {
              padding-bottom: 0;
            }
          }

          #connect-button {
            padding-top: 32px;
            margin-bottom: 40px;

            button {
              background-color: transparent;
              z-index: 10;
            }
          }
        }

        #contacts {
          p {
            font-size: 1.5rem;
          }
        }
      
      }

      .to-top-button {
        right: 10px;
      }
    }

    @media screen and (max-width: 850px) {
      .main-header {
        .nav-bar {
          ul {
            .menu-mobile-hamburguer {
              display: block;
              font-size: 1.5rem;
              cursor: pointer;
              color: $white;
            }

            .navbar-list {
              margin-top: 32px;
              display: none;
              width: 100%;
              text-align: center;
              height: 100%;
              background-color: transparent;
            }
          }
        }

        .menu-mobile {
          position: fixed;
          top: 16px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          background-color: transparent;
          width: calc(100% - 32px);
          height: calc(100% - 32px);
          align-items: center;
          margin-left: 16px;
          margin-right: 16px;
          bottom: calc(90% - 16px);
          background: -webkit-linear-gradient(
            283deg,
            $white 65%,
            $light-grey 35%
          );
          z-index: 10;

          .menu-mobile-close {
            flex-grow: 1;
            font-size: 2rem;
            cursor: pointer;
            align-self: flex-end;
            padding: 16px;
            height: 32px;
          }

          .mobile-menu-list {
            flex-grow: 1;

            ul {
              display: flex;
              flex-direction: column;
              background-color: transparent;
              justify-content: space-between;
              align-items: center;
              line-height: 3rem;
              text-decoration: none;

              li {
                font-size: 1.1rem;
                color: $dark-grey;
                text-transform: $text-uppercase;
              }

              a {
                text-decoration: none;
                color: $dark-grey;
              }

              a:hover {
                color: $dark-yellow;
              }
            }
          }

          .mobile-menu-icons {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            padding-top: 33.6px;

            h2 {
              font-size: 1rem;
              padding-bottom: 16px;
            }

            ul {
              display: flex;

              .navbar-contacts {
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;
                background-color: transparent;
                font-size: 1.2rem;
                text-transform: $text-uppercase;

                a {
                  color: $dark-grey;
                  cursor: pointer;
                  padding: 12.8px;
                }

                a:hover {
                  color: $dark-yellow;
                }
              }
            }
          }
        }
      }
      main {
        #about-me {
          clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
        }
      
        #projects {
          clip-path: polygon(50% 100%, 100% 98%, 100% 0, 0 0, 0 98%);
          .project-b {
            .project-picture {
              order: -1;
              img {
                border-radius: 7px 0px 0px 7px;
                box-shadow: 2px 9px 13px 2px #4949021f;
              }
            }
            .project-info {
              order: 1;
              border-radius: 0px 7px 7px 0px;
              box-shadow:  5px 8px 13px 2px #4949021f;
            }
          }
          .project {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
    
            .project-info {
              padding-right: 5px;
              padding-top: 32px;
              border-radius: 0px 0px 7px 7px;
            }
    
            .project-picture {
              img {
                border-radius: 7px 7px 0px 0px;
              }
            }
    
          }
        }

        #skills {
          .info-skills {
            .skills-cards {
              grid-template-columns: repeat(1, 1fr) !important;
              grid-gap: 40px;
            }   
          }
          .about-info-skills {
            .about-p {
              text-align: center;
            }

            .skills-items {
              grid-template-columns: repeat(5, 1fr);
            }          
          }    
        }
      }
    }

    @media screen and (max-width: 1220px) {
      main {
        button {
          width: auto;
        }

        #about-me {
          clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);

          .about-info{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 0px;

            .image {
              text-align: center;

              .about-img {
                padding-top: 0;
                align-self: center;

                img {
                  width: 70%;
                }
              }
            }
          } 
        }
        #skills {
          .info-skills{
            .skills-cards {
              grid-template-columns: repeat(2, 1fr);
              grid-gap: 25px;
              justify-items: center;
            }
          } 
        }
      }
    }

    @media screen and (max-width: 1381px) {
      .project-info {
        .project-tags {
          flex-wrap: wrap;
          i {
            padding-top: 16px;
          }
        }
      }
    }

  //-----CLASSES-----//
    .active {
      visibility: visible !important;
      color: #e74c3c;
    }

    .hidden {
      visibility: hidden;
    }

    .close-menu {
      display: none !important;
    }

    .error {
      border: none;
      border: 1.6px solid #e74c3c !important;
    }
  }
}