@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800;900&display=swap");
html {
  scroll-behavior: smooth;
}
html body {
  font-family: "Raleway", sans-serif;
  color: #5d5d5d;
  background-color: #75cedb;
  box-sizing: border-box;
}
html body .main-header {
  background-color: #75cedb;
}
html body .main-header .nav-bar {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 0.75rem;
  border-radius: 2px;
  box-shadow: 0 2px 4px -2px #317880;
}
html body .main-header .nav-bar .menu-mobile-hamburguer,
html body .main-header .nav-bar .menu-mobile-x,
html body .main-header .nav-bar .navbar-contacts {
  display: none;
}
html body .main-header .nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #75cedb;
  color: #5d5d5d;
  font-size: 1.5rem;
}
html body .main-header .nav-bar ul li {
  list-style-type: none;
  padding: 16px;
  font-size: 0.85rem;
  text-transform: uppercase;
}
html body .main-header .nav-bar ul li a {
  text-decoration: none;
  color: #f8f9fa;
}
html body .main-header .nav-bar .navbar-logo {
  font-family: "Fjalla One", sans-serif;
  flex: 1.2;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: 500;
}
html body .main-header .nav-bar .navbar-logo a:hover {
  color: #fdf3c9;
}
html body .main-header .nav-bar .navbar-list {
  position: relative;
  display: block;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.8px;
  font-weight: 500;
  text-transform: uppercase;
}
html body .main-header .nav-bar .navbar-list .navbar-item-a:before {
  content: "";
  width: 100%;
  height: 2px;
  right: 350px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}
html body .main-header .nav-bar .navbar-list .navbar-item-a:hover::before {
  transform: scale3d(1, 1, 1);
  background: #f8f9fa;
  transform-origin: 100% 50%;
  transform-origin: 0 50%;
  transform: scale3d(1, 1, 1);
}
html body .main-header .menu-mobile {
  display: none;
}
html body main {
  overflow: hidden;
}
html body main #home {
  width: 66vw;
  padding-left: 17vw;
  padding-right: 17vw;
  margin-top: 4.5px;
  color: #5d5d5d;
  font-size: 1.5rem;
  background-color: #75cedb;
  text-align: center;
}
html body main #home .home-h1 {
  padding-bottom: 36px;
  padding-top: 160px;
}
html body main #home .home-h1 h1 {
  color: white;
  display: block;
}
html body main #home .home-h2 {
  padding-bottom: 15px;
}
html body main #home .home-h2 h2 {
  font-family: "Catamaran", sans-serif;
  letter-spacing: 0.1em;
  font-size: 3.5rem;
  font-weight: 900;
  color: white;
}
html body main #home .home-h3 {
  padding-bottom: 22.4px;
}
html body main #home .home-h3 h3 {
  font-family: "Catamaran", sans-serif;
  letter-spacing: 0.1em;
  font-size: 3.3rem;
  font-weight: 900;
  color: #fdf3c9;
}
html body main #home .home-h4 {
  padding-bottom: 19.2px;
}
html body main #home .home-h4 h4 {
  letter-spacing: 0.05em;
  font-size: 1.5rem;
  font-weight: 200;
  color: #5d5d5d;
}
html body main #home .home-p {
  padding-bottom: 26px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}
html body main #home .home-p p {
  font-size: 1rem;
  max-width: 720px;
  line-height: 1.9rem;
  color: white;
}
html body main #home .home-icons {
  padding-bottom: 80px;
}
html body main #home .home-icons ul {
  display: flex;
  justify-content: center;
}
html body main #home .home-icons ul a {
  padding-right: 16px;
  color: #f8f9fa;
  transition-duration: 0.1s;
  font-size: 18px;
}
html body main #home .home-icons ul a:hover {
  color: #ffe6a7;
}
html body main #home .home-btn button {
  font-size: 0.8rem;
  color: #5d5d5d;
  border: 2.24px solid #fdf3c9;
  padding: 11.2px 16px;
  text-transform: uppercase;
  transition-duration: 0.4s;
  background-color: #75cedb;
  color: #fdf3c9;
}
html body main #home .home-btn button:hover {
  color: #5d5d5d;
  background-color: #fdf3c9;
}
html body main #about-me {
  width: 66vw;
  padding-left: 17vw;
  padding-right: 17vw;
  display: flex;
  background-color: #ffe6a7;
  -webkit-clip-path: polygon(0 1%, 100% 19%, 100% 100%, 0 100%);
          clip-path: polygon(0 1%, 100% 19%, 100% 100%, 0 100%);
  padding-top: 185px;
  flex-direction: column;
}
html body main #about-me .about-info {
  gap: 74px;
  display: flex;
  align-items: center;
}
html body main #about-me .about-info h2 {
  font-size: 1.7rem;
  font-family: "Catamaran", sans-serif;
  color: #75cedb;
  padding-bottom: 45px;
}
html body main #about-me .about-info .about-info-container i {
  padding-bottom: 50px;
  text-align: center;
  transform: rotate(126deg);
  color: black;
}
html body main #about-me .about-info .about-p {
  font-size: 1rem;
  padding-bottom: 20.8px;
  line-height: 1.9rem;
}
html body main #about-me .about-info .about-p span {
  text-decoration-line: underline;
  text-decoration-color: #75cedb;
  text-decoration-style: double;
}
html body main #about-me .about-info #about-last-p {
  padding-bottom: 64px;
  font-size: 1rem;
  line-height: 1.9rem;
  max-width: 640px;
}
html body main #about-me img {
  max-width: 352px;
  max-height: 352px;
  opacity: 94%;
}
html body main #about-me #home-resume {
  font-size: 0.8rem;
  color: #5d5d5d;
  border: 2.24px solid #fdf3c9;
  padding: 11.2px 16px;
  text-transform: uppercase;
  transition-duration: 0.4s;
  border-color: #75cedb;
  background-color: #ffe6a7;
  color: #75cedb;
  text-decoration: none;
  margin-top: 40px;
  text-align: center;
  align-self: center;
  margin-bottom: 50px;
}
html body main #about-me #home-resume:hover {
  color: #f8f9fa;
  background-color: #75cedb;
}
html body main #projects {
  width: 66vw;
  padding-left: 17vw;
  padding-right: 17vw;
  padding-bottom: 120px;
  background-color: #f8f9fa;
  -webkit-clip-path: polygon(50% 100%, 100% 98%, 100% 0, 0 0, 0 98%);
          clip-path: polygon(50% 100%, 100% 98%, 100% 0, 0 0, 0 98%);
  display: flex;
  flex-direction: column;
}
html body main #projects h2 {
  font-size: 1.7rem;
  font-family: "Catamaran", sans-serif;
  color: #75cedb;
  padding-top: 80px;
  color: #75cedb;
  padding-bottom: 35px;
}
html body main #projects .grid-a {
  order: -1;
}
html body main #projects .grid-b {
  order: 1;
}
html body main #projects .project-a .project-picture img {
  border-radius: 7px 0px 0px 7px;
  box-shadow: 2px 9px 13px 2px rgba(73, 73, 2, 0.1215686275);
}
html body main #projects .project-a .project-info {
  border-radius: 0px 7px 7px 0px;
  box-shadow: 5px 8px 13px 2px rgba(73, 73, 2, 0.1215686275);
}
html body main #projects .project-b .project-picture img {
  border-radius: 0px 7px 7px 0px;
  box-shadow: 5px 8px 13px 2px rgba(73, 73, 2, 0.1215686275);
}
html body main #projects .project-b .project-info {
  border-radius: 7px 0px 0px 7px;
  box-shadow: 2px 9px 13px 2px rgba(73, 73, 2, 0.1215686275);
}
html body main #projects .project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 40px;
  padding-top: 40px;
}
html body main #projects .project .project-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html body main #projects .project .project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 14px;
  padding-right: 14px;
  background-color: #f5f5f5;
  padding-top: 11px;
}
html body main #projects .project .project-info h4 {
  font-size: 1.7rem;
  font-family: "Catamaran", sans-serif;
  color: #75cedb;
  font-size: 1.5rem;
  color: #5d5d5d;
}
html body main #projects .project .project-info p {
  line-height: 1.9rem;
  font-size: 0.9rem;
}
html body main #projects .project .project-info p span {
  text-decoration-line: underline;
  text-decoration-color: #75cedb;
  text-decoration-style: double;
}
html body main #projects .project .project-info .project-tags span {
  margin-right: 16px;
  font-size: 0.9rem;
  font-weight: 600;
}
html body main #projects .project .project-info .project-tags button:hover {
  background-color: #5aa9a2;
  border-color: #5aa9a2;
}
html body main #projects .project .project-info .project-tags a {
  text-decoration: none;
  padding-left: 16px;
}
html body main #projects .project .project-info .project-tags a i {
  font-size: 1.2rem;
  padding-bottom: 16px;
  align-self: center;
  color: #5d5d5d;
  transition-duration: 0.1s;
}
html body main #projects .project .project-info .project-tags a i:hover {
  color: #ffe6a7;
}
html body main #skills {
  padding-top: 60px;
  width: 66vw;
  padding-left: 17vw;
  padding-right: 17vw;
}
html body main #skills .info-skills {
  margin-bottom: 20px;
}
html body main #skills .info-skills h2 {
  font-size: 1.7rem;
  font-family: "Catamaran", sans-serif;
  color: #75cedb;
  padding-bottom: 20px;
}
html body main #skills .info-skills .skills-cards {
  margin-top: 30px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  align-items: center;
  justify-items: stretch;
  grid-gap: 13px;
  align-content: center;
  text-align: center;
}
html body main #skills .info-skills .skills-cards .card {
  background-color: white;
  border-radius: 7px;
  height: 196px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 9px 13px 2px rgba(73, 73, 2, 0.1215686275);
}
html body main #skills .info-skills .skills-cards .card img {
  width: 85px;
  padding-bottom: 20px;
}
html body main #skills .info-skills .skills-cards .card h4 {
  color: #5d5d5d;
  font-weight: 800;
}
html body main #skills .about-info-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding-top: 50px;
}
html body main #skills .about-info-skills .about-p {
  font-size: 1.2rem;
  line-height: 1.9rem;
  transition: color 300ms;
  font-weight: 600;
}
html body main #skills .about-info-skills .skills-items {
  display: grid;
  padding-bottom: 42px;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 21px;
  width: 100%;
}
html body main #skills .about-info-skills .skills-table {
  display: flex;
  flex-direction: column;
}
html body main #skills .about-info-skills .skills-table i {
  font-size: 2.5rem;
  padding-bottom: 7px;
  align-self: center;
  transition-duration: 0.1s;
}
html body main #skills .about-info-skills .skills-table i:hover {
  color: #fdf3c9;
}
html body main #skills .about-info-skills .skills-table p {
  font-size: 0.8rem;
  align-self: center;
}
html body main #contacts {
  position: fixed;
  top: 16px;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  margin-left: 16px;
  margin-right: 16px;
  background: -webkit-linear-gradient(283deg, #f8f9fa 65%, #f5f5f5 35%);
  z-index: 10;
  overflow-x: hidden;
  scrollbar-width: thin;
}
html body main #contacts .contact-close {
  font-size: 2rem;
  cursor: pointer;
  align-self: flex-end;
  padding: 16px;
}
html body main #contacts p {
  font-size: 1.7rem;
  font-family: "Catamaran", sans-serif;
  color: #75cedb;
  color: #5d5d5d;
  align-self: center;
  text-align: center;
  font-size: 2.3rem;
  max-width: 85vw;
}
html body main #contacts #sent-message {
  font-size: 1.5rem;
  align-self: center;
  color: #2ecc71;
  padding-top: 5px;
}
html body main #contacts .contact-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
html body main #contacts .contact-form #form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
html body main #contacts .contact-form #form #name-div,
html body main #contacts .contact-form #form #email-div,
html body main #contacts .contact-form #form #massage-div {
  display: flex;
  flex-direction: column;
  min-width: 60vw;
}
html body main #contacts .contact-form #form #name-div label,
html body main #contacts .contact-form #form #email-div label,
html body main #contacts .contact-form #form #massage-div label {
  font-size: 1.2rem;
  padding-bottom: 8px;
  padding-top: 11.2px;
}
html body main #contacts .contact-form #form #name-div input,
html body main #contacts .contact-form #form #name-div textarea,
html body main #contacts .contact-form #form #email-div input,
html body main #contacts .contact-form #form #email-div textarea,
html body main #contacts .contact-form #form #massage-div input,
html body main #contacts .contact-form #form #massage-div textarea {
  padding: 8px;
  background-color: transparent;
  display: block;
  border: 1px solid #5d5d5d;
}
html body main #contacts .contact-form #form #name-div textarea,
html body main #contacts .contact-form #form #email-div textarea,
html body main #contacts .contact-form #form #massage-div textarea {
  min-height: 150px;
}
html body main #contacts .contact-form #form #name-div input:focus,
html body main #contacts .contact-form #form #name-div textarea:focus,
html body main #contacts .contact-form #form #email-div input:focus,
html body main #contacts .contact-form #form #email-div textarea:focus,
html body main #contacts .contact-form #form #massage-div input:focus,
html body main #contacts .contact-form #form #massage-div textarea:focus {
  border: 1px solid #75cedb;
}
html body main #contacts .contact-form #form #name-div small,
html body main #contacts .contact-form #form #email-div small,
html body main #contacts .contact-form #form #massage-div small {
  display: block;
  visibility: hidden;
  margin-top: 8px;
}
html body main #contacts .contact-form button {
  font-size: 0.8rem;
  color: #5d5d5d;
  border: 2.24px solid #fdf3c9;
  padding: 11.2px 16px;
  text-transform: uppercase;
  transition-duration: 0.4s;
  background-color: transparent;
  border-color: #5d5d5d;
  align-self: center;
  max-width: 480px;
}
html body main #contacts .contact-form button:hover {
  background-color: #75cedb;
  color: #f8f9fa;
  border-color: #75cedb;
}
html body main #contacts .contact-icons {
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
html body main #contacts .contact-icons h2 {
  font-size: 1.2rem;
  padding-bottom: 16px;
}
html body main #contacts .contact-icons ul {
  display: flex;
}
html body main #contacts .contact-icons ul .icons-contacts a {
  color: #5d5d5d;
  cursor: pointer;
  padding: 12.8px;
  transition-duration: 0.1s;
}
html body main #contacts .contact-icons ul .icons-contacts a i {
  font-size: 1.5rem;
}
html body main #contacts .contact-icons ul .icons-contacts a:hover {
  color: #75cedb;
}
html body footer {
  background-color: #f8f9fa;
  -webkit-clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
          clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 48px;
}
html body footer .contacts-footer ul {
  display: flex;
}
html body footer .contacts-footer a {
  padding: 16px;
  font-size: 1.3rem;
  color: #5d5d5d;
  transition-duration: 0.3s;
}
html body footer .contacts-footer a:hover {
  color: #ffe6a7;
}
html body footer .footer-name {
  padding-top: 16px;
  padding-bottom: 16px;
}
html body footer .footer-name span {
  letter-spacing: 0.1rem;
}
html body .to-top-button {
  position: fixed;
  font-size: 3rem;
  color: #fdf3c9;
  bottom: 40px;
  right: 60px;
  width: 50px;
}
@media screen and (max-width: 396px) {
  html body main #home .home-h1 {
    padding-top: 100px !important;
  }
  html body main #home .home-h2 h2 {
    font-size: 2.7rem !important;
  }
  html body main #home .home-h3 h3 {
    font-size: 2.2rem !important;
  }
  html body main #home #connect-button {
    padding-bottom: 40px;
  }
  html body main #about-me {
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
  }
  html body main #about-me .about-info {
    width: 75vw !important;
    text-align: center;
    padding-left: 10vw;
  }
  html body main #about-me .about-info #about-last-p {
    padding-bottom: 15px;
  }
  html body main #projects .project .project-info {
    padding-right: 15px;
  }
  html body main #projects .project button {
    margin-top: 16px;
  }
  html body main #other-projects .projects-skills {
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 510px) {
  html body main #home .home-h1 {
    padding-top: 100px !important;
  }
  html body main #home .home-h2 h2 {
    font-size: 3rem !important;
  }
  html body main #home .home-h3 h3 {
    font-size: 2.5rem !important;
  }
  html body main .about-info {
    width: 100%;
  }
  html body main #projects {
    -webkit-clip-path: polygon(50% 100%, 100% 99%, 100% 0, 0 0, 0 99%) !important;
            clip-path: polygon(50% 100%, 100% 99%, 100% 0, 0 0, 0 99%) !important;
  }
}
@media screen and (max-width: 540px) {
  html body main #span-1 {
    font-size: 2.7rem;
  }
  html body main #about-me .about-info {
    width: 100%;
  }
  html body main #about-me img {
    width: 300px;
  }
  html body main #contacts #sent-message {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  html body main #skills .about-info-skills .skills-items {
    padding-bottom: 42px;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 15px;
  }
  html body main #skills .about-info-skills .skills-items .skills-table {
    padding-bottom: 16px;
  }
}
@media screen and (max-width: 750px) {
  html body main #home {
    height: 100%;
    max-width: 80%;
  }
  html body main #home .home-icons {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  html body main #home .home-icons ul {
    padding-bottom: 0;
  }
  html body main #home #connect-button {
    padding-top: 32px;
    margin-bottom: 40px;
  }
  html body main #home #connect-button button {
    background-color: transparent;
    z-index: 10;
  }
  html body main #contacts p {
    font-size: 1.5rem;
  }
  html body .to-top-button {
    right: 10px;
  }
}
@media screen and (max-width: 850px) {
  html body .main-header .nav-bar ul .menu-mobile-hamburguer {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    color: #f8f9fa;
  }
  html body .main-header .nav-bar ul .navbar-list {
    margin-top: 32px;
    display: none;
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: transparent;
  }
  html body .main-header .menu-mobile {
    position: fixed;
    top: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    bottom: calc(90% - 16px);
    background: -webkit-linear-gradient(283deg, #f8f9fa 65%, #f5f5f5 35%);
    z-index: 10;
  }
  html body .main-header .menu-mobile .menu-mobile-close {
    flex-grow: 1;
    font-size: 2rem;
    cursor: pointer;
    align-self: flex-end;
    padding: 16px;
    height: 32px;
  }
  html body .main-header .menu-mobile .mobile-menu-list {
    flex-grow: 1;
  }
  html body .main-header .menu-mobile .mobile-menu-list ul {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    line-height: 3rem;
    text-decoration: none;
  }
  html body .main-header .menu-mobile .mobile-menu-list ul li {
    font-size: 1.1rem;
    color: #5d5d5d;
    text-transform: uppercase;
  }
  html body .main-header .menu-mobile .mobile-menu-list ul a {
    text-decoration: none;
    color: #5d5d5d;
  }
  html body .main-header .menu-mobile .mobile-menu-list ul a:hover {
    color: #75cedb;
  }
  html body .main-header .menu-mobile .mobile-menu-icons {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding-top: 33.6px;
  }
  html body .main-header .menu-mobile .mobile-menu-icons h2 {
    font-size: 1rem;
    padding-bottom: 16px;
  }
  html body .main-header .menu-mobile .mobile-menu-icons ul {
    display: flex;
  }
  html body .main-header .menu-mobile .mobile-menu-icons ul .navbar-contacts {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: transparent;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  html body .main-header .menu-mobile .mobile-menu-icons ul .navbar-contacts a {
    color: #5d5d5d;
    cursor: pointer;
    padding: 12.8px;
  }
  html body .main-header .menu-mobile .mobile-menu-icons ul .navbar-contacts a:hover {
    color: #75cedb;
  }
  html body main #about-me {
    -webkit-clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
  }
  html body main #projects {
    -webkit-clip-path: polygon(50% 100%, 100% 98%, 100% 0, 0 0, 0 98%);
            clip-path: polygon(50% 100%, 100% 98%, 100% 0, 0 0, 0 98%);
  }
  html body main #projects .project-b .project-picture {
    order: -1;
  }
  html body main #projects .project-b .project-picture img {
    border-radius: 7px 0px 0px 7px;
    box-shadow: 2px 9px 13px 2px rgba(73, 73, 2, 0.1215686275);
  }
  html body main #projects .project-b .project-info {
    order: 1;
    border-radius: 0px 7px 7px 0px;
    box-shadow: 5px 8px 13px 2px rgba(73, 73, 2, 0.1215686275);
  }
  html body main #projects .project {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  html body main #projects .project .project-info {
    padding-right: 5px;
    padding-top: 32px;
    border-radius: 0px 0px 7px 7px;
  }
  html body main #projects .project .project-picture img {
    border-radius: 7px 7px 0px 0px;
  }
  html body main #skills .info-skills .skills-cards {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 40px;
  }
  html body main #skills .about-info-skills .about-p {
    text-align: center;
  }
  html body main #skills .about-info-skills .skills-items {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1220px) {
  html body main button {
    width: auto;
  }
  html body main #about-me {
    -webkit-clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
  }
  html body main #about-me .about-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }
  html body main #about-me .about-info .image {
    text-align: center;
  }
  html body main #about-me .about-info .image .about-img {
    padding-top: 0;
    align-self: center;
  }
  html body main #about-me .about-info .image .about-img img {
    width: 70%;
  }
  html body main #skills .info-skills .skills-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    justify-items: center;
  }
}
@media screen and (max-width: 1381px) {
  html body .project-info .project-tags {
    flex-wrap: wrap;
  }
  html body .project-info .project-tags i {
    padding-top: 16px;
  }
}
html body .active {
  visibility: visible !important;
  color: #e74c3c;
}
html body .hidden {
  visibility: hidden;
}
html body .close-menu {
  display: none !important;
}
html body .error {
  border: none;
  border: 1.6px solid #e74c3c !important;
}/*# sourceMappingURL=styles.css.map */